In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Load data
dummy_file_path = '../data/test_data.csv'
dummy_data = pd.read_csv(dummy_file_path) 

print(dummy_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Precip Type               95936 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  float64
 8   Visibility (km)           96453 non-null  float64
 9   Loud Cover                96453 non-null  float64
 10  Pressure (millibars)      96453 non-null  float64
 11  Daily Summary             96453 non-null  object
dtypes: float64(8), object(4)
memory usage: 8.8+ MB
None

In [7]:
print(dummy_data.head(20).to_markdown())

print('\nAll the columns:\n')
print(dummy_data.columns)

|    | Formatted Date                | Summary       | Precip Type   |   Temperature (C) |   Apparent Temperature (C) |   Humidity |   Wind Speed (km/h) |   Wind Bearing (degrees) |   Visibility (km) |   Loud Cover |   Pressure (millibars) | Daily Summary                     |
|---:|:------------------------------|:--------------|:--------------|------------------:|---------------------------:|-----------:|--------------------:|-------------------------:|------------------:|-------------:|-----------------------:|:----------------------------------|
|  0 | 2006-04-01 00:00:00.000 +0200 | Partly Cloudy | rain          |           9.47222 |                    7.38889 |       0.89 |             14.1197 |                      251 |           15.8263 |            0 |                1015.13 | Partly cloudy throughout the day. |
|  1 | 2006-04-01 01:00:00.000 +0200 | Partly Cloudy | rain          |           9.35556 |                    7.22778 |       0.86 |             14.2646 |                      259 |           15.8263 |            0 |                1015.63 | Partly cloudy throughout the day. |
|  2 | 2006-04-01 02:00:00.000 +0200 | Mostly Cloudy | rain          |           9.37778 |                    9.37778 |       0.89 |              3.9284 |                      204 |           14.9569 |            0 |                1015.94 | Partly cloudy throughout the day. |
|  3 | 2006-04-01 03:00:00.000 +0200 | Partly Cloudy | rain          |           8.28889 |                    5.94444 |       0.83 |             14.1036 |                      269 |           15.8263 |            0 |                1016.41 | Partly cloudy throughout the day. |
|  4 | 2006-04-01 04:00:00.000 +0200 | Mostly Cloudy | rain          |           8.75556 |                    6.97778 |       0.83 |             11.0446 |                      259 |           15.8263 |            0 |                1016.51 | Partly cloudy throughout the day. |
|  5 | 2006-04-01 05:00:00.000 +0200 | Partly Cloudy | rain          |           9.22222 |                    7.11111 |       0.85 |             13.9587 |                      258 |           14.9569 |            0 |                1016.66 | Partly cloudy throughout the day. |
|  6 | 2006-04-01 06:00:00.000 +0200 | Partly Cloudy | rain          |           7.73333 |                    5.52222 |       0.95 |             12.3648 |                      259 |            9.982  |            0 |                1016.72 | Partly cloudy throughout the day. |
|  7 | 2006-04-01 07:00:00.000 +0200 | Partly Cloudy | rain          |           8.77222 |                    6.52778 |       0.89 |             14.1519 |                      260 |            9.982  |            0 |                1016.84 | Partly cloudy throughout the day. |
|  8 | 2006-04-01 08:00:00.000 +0200 | Partly Cloudy | rain          |          10.8222  |                   10.8222  |       0.82 |             11.3183 |                      259 |            9.982  |            0 |                1017.37 | Partly cloudy throughout the day. |
|  9 | 2006-04-01 09:00:00.000 +0200 | Partly Cloudy | rain          |          13.7722  |                   13.7722  |       0.72 |             12.5258 |                      279 |            9.982  |            0 |                1017.22 | Partly cloudy throughout the day. |
| 10 | 2006-04-01 10:00:00.000 +0200 | Partly Cloudy | rain          |          16.0167  |                   16.0167  |       0.67 |             17.5651 |                      290 |           11.2056 |            0 |                1017.42 | Partly cloudy throughout the day. |
| 11 | 2006-04-01 11:00:00.000 +0200 | Partly Cloudy | rain          |          17.1444  |                   17.1444  |       0.54 |             19.7869 |                      316 |           11.4471 |            0 |                1017.74 | Partly cloudy throughout the day. |
| 12 | 2006-04-01 12:00:00.000 +0200 | Partly Cloudy | rain          |          17.8     |                   17.8     |       0.55 |             21.9443 |                      281 |           11.27   |            0 |                1017.59 | Partly cloudy throughout the day. |
| 13 | 2006-04-01 13:00:00.000 +0200 | Partly Cloudy | rain          |          17.3333  |                   17.3333  |       0.51 |             20.6885 |                      289 |           11.27   |            0 |                1017.48 | Partly cloudy throughout the day. |
| 14 | 2006-04-01 14:00:00.000 +0200 | Partly Cloudy | rain          |          18.8778  |                   18.8778  |       0.47 |             15.3755 |                      262 |           11.4471 |            0 |                1017.17 | Partly cloudy throughout the day. |
| 15 | 2006-04-01 15:00:00.000 +0200 | Partly Cloudy | rain          |          18.9111  |                   18.9111  |       0.46 |             10.4006 |                      288 |           11.27   |            0 |                1016.47 | Partly cloudy throughout the day. |
| 16 | 2006-04-01 16:00:00.000 +0200 | Partly Cloudy | rain          |          15.3889  |                   15.3889  |       0.6  |             14.4095 |                      251 |           11.27   |            0 |                1016.15 | Partly cloudy throughout the day. |
| 17 | 2006-04-01 17:00:00.000 +0200 | Mostly Cloudy | rain          |          15.55    |                   15.55    |       0.63 |             11.1573 |                      230 |           11.4471 |            0 |                1016.17 | Partly cloudy throughout the day. |
| 18 | 2006-04-01 18:00:00.000 +0200 | Mostly Cloudy | rain          |          14.2556  |                   14.2556  |       0.69 |              8.5169 |                      163 |           11.2056 |            0 |                1015.82 | Partly cloudy throughout the day. |
| 19 | 2006-04-01 19:00:00.000 +0200 | Mostly Cloudy | rain          |          13.1444  |                   13.1444  |       0.7  |              7.6314 |                      139 |           11.2056 |            0 |                1015.83 | Partly cloudy throughout the day. |

All the columns:

Index(['Formatted Date', 'Summary', 'Precip Type', 'Temperature (C)',
       'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)',
       'Wind Bearing (degrees)', 'Visibility (km)', 'Loud Cover',
       'Pressure (millibars)', 'Daily Summary'],
      dtype='object')

It looks like the y value of the dataset is 'Temperature (C)' column. All other columns can be used as features.

In [8]:
dummy_data['Formatted Date'] = pd.to_datetime(dummy_data['Formatted Date'], format='%Y-%m-%d %H:%M:%S.%f %z', errors='raise')
# print(dummy_data['Formatted Date'].unique())

print(dummy_data.head().to_markdown())

print(dummy_data.info())

|    | Formatted Date            | Summary       | Precip Type   |   Temperature (C) |   Apparent Temperature (C) |   Humidity |   Wind Speed (km/h) |   Wind Bearing (degrees) |   Visibility (km) |   Loud Cover |   Pressure (millibars) | Daily Summary                     |
|---:|:--------------------------|:--------------|:--------------|------------------:|---------------------------:|-----------:|--------------------:|-------------------------:|------------------:|-------------:|-----------------------:|:----------------------------------|
|  0 | 2006-04-01 00:00:00+02:00 | Partly Cloudy | rain          |           9.47222 |                    7.38889 |       0.89 |             14.1197 |                      251 |           15.8263 |            0 |                1015.13 | Partly cloudy throughout the day. |
|  1 | 2006-04-01 01:00:00+02:00 | Partly Cloudy | rain          |           9.35556 |                    7.22778 |       0.86 |             14.2646 |                      259 |           15.8263 |            0 |                1015.63 | Partly cloudy throughout the day. |
|  2 | 2006-04-01 02:00:00+02:00 | Mostly Cloudy | rain          |           9.37778 |                    9.37778 |       0.89 |              3.9284 |                      204 |           14.9569 |            0 |                1015.94 | Partly cloudy throughout the day. |
|  3 | 2006-04-01 03:00:00+02:00 | Partly Cloudy | rain          |           8.28889 |                    5.94444 |       0.83 |             14.1036 |                      269 |           15.8263 |            0 |                1016.41 | Partly cloudy throughout the day. |
|  4 | 2006-04-01 04:00:00+02:00 | Mostly Cloudy | rain          |           8.75556 |                    6.97778 |       0.83 |             11.0446 |                      259 |           15.8263 |            0 |                1016.51 | Partly cloudy throughout the day. |
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Precip Type               95936 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  float64
 8   Visibility (km)           96453 non-null  float64
 9   Loud Cover                96453 non-null  float64
 10  Pressure (millibars)      96453 non-null  float64
 11  Daily Summary             96453 non-null  object
dtypes: float64(8), object(4)
memory usage: 8.8+ MB
None

C:\Users\burak\AppData\Local\Temp\ipykernel_30584\3485334440.py:1: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  dummy_data['Formatted Date'] = pd.to_datetime(dummy_data['Formatted Date'], format='%Y-%m-%d %H:%M:%S.%f %z', errors='raise')

In [9]:
print(type(dummy_data['Formatted Date'].iloc[90000]))
print((dummy_data['Formatted Date'].iloc[1465]))
print((dummy_data['Formatted Date'].iloc[1463]))

dummy_data['Formatted Date'] = pd.to_datetime(dummy_data['Formatted Date'], format='%Y-%m-%d %H:%M:%S.%f%z', errors='raise', utc=True)

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2006-12-01 01:00:00+01:00
2006-08-09 23:00:00+02:00

Create three new columns for 'day', 'month' and 'year' as int

In [10]:
# Create new columns
dummy_data['day'] = dummy_data['Formatted Date'].dt.day
dummy_data['month'] = dummy_data['Formatted Date'].dt.month
dummy_data['year'] = dummy_data['Formatted Date'].dt.year
dummy_data['hour'] = dummy_data['Formatted Date'].dt.hour

print(dummy_data.head().to_markdown())

|    | Formatted Date            | Summary       | Precip Type   |   Temperature (C) |   Apparent Temperature (C) |   Humidity |   Wind Speed (km/h) |   Wind Bearing (degrees) |   Visibility (km) |   Loud Cover |   Pressure (millibars) | Daily Summary                     |   day |   month |   year |   hour |
|---:|:--------------------------|:--------------|:--------------|------------------:|---------------------------:|-----------:|--------------------:|-------------------------:|------------------:|-------------:|-----------------------:|:----------------------------------|------:|--------:|-------:|-------:|
|  0 | 2006-03-31 22:00:00+00:00 | Partly Cloudy | rain          |           9.47222 |                    7.38889 |       0.89 |             14.1197 |                      251 |           15.8263 |            0 |                1015.13 | Partly cloudy throughout the day. |    31 |       3 |   2006 |     22 |
|  1 | 2006-03-31 23:00:00+00:00 | Partly Cloudy | rain          |           9.35556 |                    7.22778 |       0.86 |             14.2646 |                      259 |           15.8263 |            0 |                1015.63 | Partly cloudy throughout the day. |    31 |       3 |   2006 |     23 |
|  2 | 2006-04-01 00:00:00+00:00 | Mostly Cloudy | rain          |           9.37778 |                    9.37778 |       0.89 |              3.9284 |                      204 |           14.9569 |            0 |                1015.94 | Partly cloudy throughout the day. |     1 |       4 |   2006 |      0 |
|  3 | 2006-04-01 01:00:00+00:00 | Partly Cloudy | rain          |           8.28889 |                    5.94444 |       0.83 |             14.1036 |                      269 |           15.8263 |            0 |                1016.41 | Partly cloudy throughout the day. |     1 |       4 |   2006 |      1 |
|  4 | 2006-04-01 02:00:00+00:00 | Mostly Cloudy | rain          |           8.75556 |                    6.97778 |       0.83 |             11.0446 |                      259 |           15.8263 |            0 |                1016.51 | Partly cloudy throughout the day. |     1 |       4 |   2006 |      2 |

Copy clean data to csv

In [11]:
print(dummy_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  datetime64[ns, UTC]
 1   Summary                   96453 non-null  object
 2   Precip Type               95936 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  float64
 8   Visibility (km)           96453 non-null  float64
 9   Loud Cover                96453 non-null  float64
 10  Pressure (millibars)      96453 non-null  float64
 11  Daily Summary             96453 non-null  object
 12  day                       96453 non-null  int32
 13  month                     96453 non-null  int32
 14  year                      96453 non-null  int32
 15  hour                      96453 non-null  int32
dtypes: datetime64[ns, UTC](1), float64(8), int32(4), object(3)
memory usage: 10.3+ MB
None

In [12]:
dummy_data.to_csv('../data/clean_dummy_data.csv')